.intro{
    text-align: center;
    padding: 2.75rem; 

    p{
        padding: 1.875rem 0;
    }

    article{
        margin: 0 auto;
        max-width: 457px;
        
        @include breakpoint-up(xlarge){
            flex: 30%;
            min-width: 534px;
        }
    }

    &-buttons{
        @include flex-grid(flex, column, center, center);

        @include breakpoint-up(medium){
            @include flex-grid(flex, row, center, center);
        }

        button:nth-of-type(1){
            background-color: $dark-turquoise;

            span{
                color: $light-skyblue;
            }

            &:hover{
                background-color: $light-turquoise;
            }
        }

        button:nth-of-type(2){
            margin-top: 1rem;
            background-color: $dark-pinkviolet;

            &:hover{
                background-color: $light-pinkviolet;
            }
            @include breakpoint-up(medium){
                margin: 0 0 0 1rem;
            }
        }
    }

    @include breakpoint-up(xlarge){
        padding: 0;
        @include flex-grid(flex, row, center, center);
        .hero-left{
            margin-top: -2.5rem;
        }
        .hero-right{
            margin-top: 2.5rem;
        }
    }

    .hero-left, .hero-right{
        display: none;
        
        @include breakpoint-up(xlarge){
            display: block;
            padding: 6.125rem;
            flex: 35%;
        }
    }
}