$dark-turquoise: hsl(192, 37,48);
$light-turquoise: #6ac7de;
// (header download button, footer blend, , 2nd section first header)

$light-skyblue: hsl(1972, 90, 77); 
// (header button hover, v1.3(slightly less opaque)

$dark-pinkviolet: hsl(268, 34, 53);
// (what is it button, footer download button)

$light-pinkviolet: hsl(268, 100, 86); 
// (^ hover)

$dark-darkblue: hsl(240, 21, 20);
// (header)

$light-bluegray: hsl(240, 10, 57);
// (paragraph)

$white: hsl(0, 0, 98);
// (footer text)
